<footer class="footer footer-center bg-base-200 text-base-content rounded p-10">
    <!-- Navigation Links -->
    <nav class="grid grid-flow-col gap-4">
      <a [routerLink]="['/project-webpulse']">Projects</a>
      <a [routerLink]="['/about']">About</a>
      <a [routerLink]="['/']" fragment="get-in-touch">Contact</a>
    </nav>
  
    <!-- Social Icons -->
    <nav>
      <div class="grid grid-flow-col gap-4">
        <!-- GitHub Icon -->
        <a
          href="https://github.com/walid385"
          target="_blank"
          rel="noopener noreferrer"
          class="btn btn-ghost btn-circle">
          <fa-icon [icon]="faGithub" class="text-3xl"></fa-icon>
        </a>
  
        <!-- LinkedIn Icon -->
        <a
          href="https://www.linkedin.com/in/walid-boulhazayez/"
          target="_blank"
          rel="noopener noreferrer"
          class="btn btn-ghost btn-circle">
          <fa-icon [icon]="faLinkedin" class="text-3xl"></fa-icon>
        </a>
      </div>
    </nav>
  
    <!-- Footer Text -->
    <aside>
      <p>
        Copyright © {{ year }} - All rights reserved by Walid Boulhazayez
      </p>
    </aside>
  </footer>
  