<div class="hero-container flex flex-col lg:flex-row w-full h-[100vh]  relative">
    <!-- Left Section -->
    <div class="hero-left flex flex-col items-center lg:items-start justify-center lg:basis-1/2 w-full px-6 lg:px-16">
      <div class="text-container max-w-3xl container" >
        <h1 class="text-4xl md:text-5xl font-bold">
            Hi, I'm 
            <span class="text-primary">Walid Boulhazayez</span>
          </h1>
          <p class="mt-4 text-xl">
            Welcome to my personal website.
          </p>
        <div class="mt-8 flex justify-center lg:justify-start">
          <a
            routerLink="/"
            class="bg-primary text-white py-3 px-6 rounded-full hover:bg-warning cursor-pointer">
            Learn More
          </a>
        </div>
      </div>
    </div>
  
    <!-- Right Section -->
    <div class="hero-right flex items-center justify-center lg:basis-1/2 w-full px-6 lg:px-16">
      <img
        src="https://via.placeholder.com/400"
        alt="Hero"
        class="object-contain rounded-lg shadow-lg"
      />
    </div>
  </div>
  