<div class="hero-container flex flex-col lg:flex-row w-full h-screen relative items-center justify-center shadow-md ">
  <!-- Left Section -->
  <div class="hero-left flex flex-col items-center lg:items-start justify-center h-full lg:h-full lg:basis-1/2 w-full px-6 md:px-12 lg:px-16">
    <div class="text-container container text-center lg:text-left">
      <h1 class="text-3xl xl:text-4xl font-bold">
        Hi, I'm 
        <span class="text-primary">Walid Boulhazayez</span>
      </h1>
      <p class="mt-4 text-lg md:text-xl text-gray-400 leading-relaxed">
        Welcome to my personal website.
      </p>
      <div class="mt-6 flex justify-center lg:justify-start">
        <a
          [routerLink]="['/project-webpulse']"
          class="bg-primary text-white py-3 px-6 rounded-full hover:bg-secondary transition-all cursor-pointer">
          Projects
        </a>
      </div>
    </div>
  </div>

  <!-- Right Section -->
  <div class="hero-right flex items-center justify-center lg:basis-1/2 w-full h-full px-6 md:px-12 lg:px-16">
    <img
      class="mask mask-circle w-[40vw] max-w-[60%] md:w-[30vw] md:max-w-[50%] lg:w-[20vw] lg:max-w-[40%] h-auto"
      src="IMG_20240905_113912_719-removebg (1).png"
      alt="Walid Boulhazayez"
    />
  </div>
  
</div>

