<div class="navbar bg-base-100 px-4 shadow-lg">
  <!-- Logo Section -->
  <div class="container mx-auto">
    <div class="flex-1 flex items-center">
      <a class="btn btn-ghost normal-case text-xl" [routerLink]="['/home']">Walid Boulhazayez</a>
    </div>
    <!-- Icons Section -->
    <div class="flex-none items-center gap-4 hidden md:flex">
      <!-- GitHub Icon -->
      <a href="https://github.com/yourusername" target="_blank" rel="noopener noreferrer"
        class="btn btn-ghost btn-circle">
        <fa-icon [icon]="faGithub" class="text-2xl"></fa-icon>
      </a>
      <!-- LinkedIn Icon -->
      <a href="https://linkedin.com/in/yourusername" target="_blank" rel="noopener noreferrer"
        class="btn btn-ghost btn-circle">
        <fa-icon [icon]="faLinkedin" class="text-2xl"></fa-icon>
      </a>
      <!-- Theme Switcher -->
      <div class="flex items-center">
        <app-theme-switcher></app-theme-switcher>
      </div>
    </div>
    <!-- Theme Switcher -->
    <div class="flex items-center md:hidden mx-3">
      <app-theme-switcher></app-theme-switcher>
    </div>
    <div class="dropdown md:hidden">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-9 w-9" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
        </svg>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow right-0">
        <li><a>Homepage</a></li>
        <li><a>Portfolio</a></li>
        <li><a>About</a></li>
      </ul>
    </div>
  </div>
</div>
