<div class="h-[80dvh] flex flex-col items-center justify-center relative">
  <!-- Title -->
  <div class="text-center mb-8">
    <h2 class="text-3xl font-bold">Explore My Work</h2>
  </div>

  <!-- Pseudo-element for transparent background -->
  <div class="absolute inset-0 bg-[url('/bg_boxes.svg')] bg-contain bg-left-top md:bg-[top_-20em_left] bg-no-repeat opacity-10 pointer-events-none"></div>

  <!-- Main content container -->
  <div class="container grid grid-cols-1 md:grid-cols-2 gap-4">
    <!-- Gradient 1 -->
    <div
      class="col-span-1 md:col-span-2 glass bg-gradient-to-r from-[#1D232A] via-[#3A506B] to-[#00C1D4] opacity-30 min-h-28 card cursor-pointer hover:opacity-100 group">
      <a [routerLink]="['/project-webpulse']" class="block w-full h-full">
        <div class="relative flex items-center justify-center h-full">
          <!-- Projects Title -->
          <h2 class="text-xl md:text-2xl font-bold text-white transition-transform duration-1000 group-hover:translate-y-[-1.2rem] md:group-hover:translate-y-[-0.8rem]">
            Projects
          </h2>
          <!-- Hidden paragraph with smooth transition -->
          <p
            class="absolute truncate top-12 md:top-16 left-1/2 text-white transform -translate-x-1/2 opacity-0 transition-opacity duration-500 delay-300 group-hover:opacity-100 group-hover:translate-y-0 text-sm md:text-base">
            Learn more about my amazing projects!
          </p>
        </div>
      </a>
    </div>

    <!-- Gradient 2 -->
    <div
      class="col-span-1 glass bg-gradient-to-l from-[#1E293B] via-[#4F4A85] to-[#7480FF] opacity-30 min-h-28 card cursor-pointer hover:opacity-100 group"
      (click)="scrollToGetInTouch()"
    >
      <div class="relative flex items-center justify-center h-full">
        <!-- Gradient 2 Title -->
        <h2 class="text-xl md:text-2xl font-bold text-white transition-transform duration-1000 group-hover:translate-y-[-1.2rem] md:group-hover:translate-y-[-0.8rem]">
          Get in Touch
        </h2>
        <!-- Hidden paragraph with smooth transition -->
        <p
          class="absolute truncate top-12 md:top-16 left-1/2 text-white transform -translate-x-1/2 opacity-0 transition-opacity duration-500 delay-300 group-hover:opacity-100 group-hover:translate-y-0 text-sm md:text-base">
          Click here to connect with me!
        </p>
      </div>
    </div>
        
    <!-- Gradient 3 -->
    <div
      class="col-span-1 glass bg-gradient-to-r from-[#493e2d] via-[#5a739d] to-[#7480FF] opacity-30 min-h-28 card cursor-pointer hover:opacity-100 group">
      <a [routerLink]="['/about']" class="block w-full h-full">
        <div class="relative flex items-center justify-center h-full">
          <!-- Gradient 3 Title -->
          <h2 class="text-xl md:text-2xl font-bold text-white transition-transform duration-1000 group-hover:translate-y-[-1.2rem] md:group-hover:translate-y-[-0.8rem]">
            About Me
          </h2>
          <!-- Hidden paragraph with smooth transition -->
          <p
            class="absolute truncate top-12 md:top-16 left-1/2 text-white transform -translate-x-1/2 opacity-0 transition-opacity duration-500 delay-300 group-hover:opacity-100 group-hover:translate-y-0 text-sm md:text-base">
            Wanna know more about me?
          </p>
        </div>
      </a>
    </div>
  </div>
</div>
