<div class="h-[80dvh] flex items-center justify-center gap-4 relative">
  <!-- Pseudo-element for transparent background -->
  <div class="absolute inset-0 bg-[url('/bg_boxes.svg')] bg-contain bg-left-top md:bg-[top_-20em_left] bg-no-repeat opacity-10 pointer-events-none"></div>
  
  <!-- Main content container -->
  <div class="container flex items-center justify-center gap-4 relative z-10">
    <div class="card glass w-96">
        <figure>
          <img
            src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
            alt="car!" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">Life hack</h2>
          <p>How to park your car at your garage?</p>
        </div> 
    </div>
    <div class="card glass w-96">
        <figure>
          <img
            src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
            alt="car!" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">Life hack</h2>
          <p>How to park your car at your garage?</p>
        </div>
    </div>
    <div class="card glass w-96">
        <figure>
          <img
            src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
            alt="car!" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">Life hack</h2>
          <p>How to park your car at your garage?</p>
        </div>
    </div>
  </div>
</div>
