<div class="h-[80dvh] flex items-center justify-center relative">
  <!-- Pseudo-element for transparent background -->
  <div class="absolute inset-0 bg-[url('/bg_boxes.svg')] bg-contain bg-left-top md:bg-[top_-20em_left] bg-no-repeat opacity-10 pointer-events-none"></div>
  
  <!-- Main content container -->
<div class="container grid lg:grid-cols-3 gird-cols-2 gap-4">
  <div class="col-span-2 glass bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90%  opacity-30 min-h-28 card cursor-pointer hover:opacity-100 "></div>
  <div class="col-span-1 bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 min-h-28 opacity-30 card cursor-pointer hover:opacity-100 "></div>
  <div class="col-span-1 bg-white min-h-28"></div>
  <div class="col-span-2 bg-blue-500 min-h-28"></div>
  <div class="col-span-2 bg-gray-500 min-h-28"></div>
  <div class="col-span-1 bg-yellow-500 min-h-28"></div>
  <div class="col-span-1 bg-black min-h-28"></div>
</div>
</div>
