@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="light"] {
    --hero-left-bg: #f0f0f0; /* White */
    --hero-left-text: #000000; /* Black */
    --hero-right-bg: #1E293B; /* Light Gray */
    --hero-right-text: #000000; /* Black */
  }
  
  [data-theme="dark"] {
    --hero-left-bg: #1e293b; /* Dark Blue-Gray */
    --hero-left-text: #ffffff; /* White */
    --hero-right-bg: #1d232a; /* Almost Black */
    --hero-right-text: #ffffff; /* White */
  }
  